node_modules/
.expo/
.expo-shared/
dist/
web-build/
*.log
npm-debug.*
yarn-debug.*
yarn-error.*
.DS_Store

# Secrets
.env
.env.local
google-services.json
android/app/google-services.json
GoogleService-Info.plist

# Project-specific ignores
src/gen/
package-lock.json
android/
ios/
